---
- block:
    - name: get DNS server from resolv.conf
      shell: awk '$1 == "nameserver" {print $2; exit}' /etc/resolv.conf
      register: dns_server

    - name: set dns forwarder fact
      set_fact:
        dns_forwarder: "{{ dns_server.stdout }}"

    - name: create test config file
      template:
        src: ipa-test-config.yaml
        dest: /vagrant/ipa-test-config.yaml
  when: inventory_hostname == 'controller' or deploy_ipa_test_config

- name: add PR build repository
  get_url:
    dest: /etc/yum.repos.d/
    url: "{{ repofile_url }}"

- name: update packages
  dnf:
    name: '*'
    state: latest
  when: update_packages is defined and update_packages

- name: install freeipa packages
  dnf:
    state: latest
    name:
      - freeipa-*
      - python*-ipatests
  register: result
  until: result.rc == 0
  retries: 3
  delay: 5

- name: install client packages
  dnf:
    state: latest
    name:
    - samba-client
  when: testing_ad is defined

- name: create directory to save installed packages logs
  file:
    path: /vagrant/installed_packages/
    state: directory

- name: get all packages
  shell: rpm -qa | sort > /vagrant/installed_packages/installed_packages_{{inventory_hostname}}.log

- name: create hosts file from template
  template:
    src: hosts
    dest: /etc/hosts

- name: create /etc/resolv.conf file from template
  template:
    src: resolv.conf
    dest: /etc/resolv.conf

# - name: set hostname
#   hostname:
#     name: "{{ inventory_hostname }}.ipa.test"

# workaround for https://github.com/ansible/ansible/issues/19814
- name: set hostname
  shell: "hostnamectl set-hostname {{ inventory_hostname }}.ipa.test"

- include_role:
    name: utils
    tasks_from: enable_swap
