---
- name: clone FreeIPA PR CI repo
  git: 
    dest: /root/freeipa-pr-ci
    repo: "{{ pr_ci_repo }}"
    version: "{{ pr_ci_repo_branch }}"
    force: true

- name: create config directory if it dosn't exist
  file:
    path: /root/.config/freeipa-pr-ci
    state: directory
    owner: root
    group: root
    mode: 0700

- name: copy prci.py configuration file
  template:
    src: config.yml
    dest: /root/.config/freeipa-pr-ci/config.yml

- name: create systemd unit for prci
  copy:
    src: prci.service
    dest: /etc/systemd/system/prci.service
  when: create_systemd_unit

- name: systemd daemon reload
  shell: systemctl daemon-reload

- name: enable prci
  service:
    name: prci
    enabled: true
    state: started
