---
- include: manage_ssh_keys.yml
  when: deploy_ssh_key
  tags: deployment
- include: add_cloud_conf_files.yml
  tags: cloud_upload
- include: enable_nested_virt.yml
  when: enable_nested_virt
  tags: nested_virt
- include: setup.yml
- include: create_libvirt_pool.yml
- include: deploy_pr_ci.yml
- include: autocleaner.yml
  when: activate_autocleaner
- include: custom_vagrant_catalog.yml
  when: custom_vagrant_catalog is defined and custom_vagrant_catalog != 'False'

- include_role:
    name: utils
    tasks_from: enable_swap
