---
- include: manage_ssh_keys.yml
  when: deploy_ssh_key
  tags: fedorapeople
- include: enable_nested_virt.yml
  when: enable_nested_virt
  tags: nested_virt
- include: setup.yml
- include: deploy_pr_ci.yml
