---
- name: set selinux to permissive
  selinux:
    policy: targeted
    state: permissive

# Workaround for bug in lab -- dnf makecache created metadata lock
- name: "workaround: stop dnf-makecache.service"
  service:
    name: dnf-makecache.service
    state: stopped

- name: upgrade packages
  dnf:
    name: "*"
    state: latest

- name: install runner dependencies
  dnf:
    name: "{{ item }}"
    state: present
  with_items:
    - tuned
    - vagrant
    - vagrant-libvirt
    - libguestfs-tools-c  # required for vagrant package command
    - ansible  # TODO requires >= 2.3 
    - nfs-utils
    - git
    - libvirt
    - rsync
    - createrepo
    - gzip
    - gcc
    - firewalld
    - python3-devel
    - python3-pip
    - redhat-rpm-config
    - python-firewall
    - python3-firewall
  notify:
    - restart_nfs

# adding after packages install as the file can be overwritten by "mailcap"
- name: add mime.types so awscli can correctly guess content-types
  copy:
    src: mime.types
    dest: /etc/mime.types
    mode: 0644

- name: enable firewalld
  service:
    name: firewalld
    enabled: true
    state: started

- name: configure firewalld
  firewalld:
    service : "{{ item }}"
    permanent: true
    state: enabled
  with_items:
    - nfs
    - ipp
    - rpc-bind
    - mountd

- name: reload firewalld
  shell: firewall-cmd --reload

- name: start&enable nfs
  service:
    name: nfs
    enabled: true
    state: started

- name: start&enable tuned
  service:
    name: tuned
    enabled: true
    state: started

- name: select tuned profile
  shell: tuned-adm profile virtual-host

- name: start&enable libvirt services
  service:
    name: "{{ item }}"
    enabled: true
    state: started
  with_items:
    - virtlogd
    - libvirtd

- name: configure size of systemd journal
  lineinfile:
    path: /etc/systemd/journald.conf
    regexp: '^#?SystemMaxFileSize'
    line: 'SystemMaxFileSize={{ limit_size_systemd_journal }}'
    state: present
