---
- name: set selinux to permissive
  selinux:
    policy: targeted
    state: permissive

# Workaround for bug in lab -- dnf makecache created metadata lock
- name: "workaround: stop dnf-makecache.service"
  service:
    name: dnf-makecache.service
    state: stopped

- name: upgrade packages
  dnf:
    name: "*"
    state: latest

- name: install runner dependencies
  dnf:
    state: present
    name:
      - tuned
      - vagrant
      - vagrant-sshfs
      - vagrant-libvirt
      - libguestfs-tools-c  # required for vagrant package command
      - ansible  # TODO requires >= 2.3
      - nfs-utils
      - git
      - libvirt
      - libvirt-devel
      - ruby-devel
      - rsync
      - createrepo
      - gzip
      - gcc
      - python3-devel
      - python3-pip
      - python3-winrm
      - python2-winrm
      - python3-netaddr
      - python2-netaddr
      - python2-requests
      - python3-requests
      - NetworkManager
      - python3-dnf
      - redhat-rpm-config
      - crontabs
  notify:
    - restart_nfs

- name: register vagrant version
  shell: vagrant --version | awk '{print $2}'
  register: vagrant_version

# as per sssd-suite readme file states, we need vagrant plugins...
- name: install libvirt plugin for vagrant
  raw: vagrant plugin install vagrant-libvirt
  ignore_errors: yes

- name: install vagrant plugin (winrm) for AD tests
  raw: vagrant plugin install winrm
  when: vagrant_version.stdout is version('2.2.0', '<')
  ignore_errors: yes

- name: install vagrant plugins (winrm-fs) for AD tests
  raw: vagrant plugin install winrm-fs
  when: vagrant_version.stdout is version('2.2.0', '<')
  ignore_errors: yes

- name: install vagrant plugins (winrm-elevated) for AD tests
  raw: vagrant plugin install winrm-elevated
  when: vagrant_version.stdout is version('2.2.0', '<')
  ignore_errors: yes

# adding after packages install as the file can be overwritten by "mailcap"
- name: add mime.types so awscli can correctly guess content-types
  copy:
    src: mime.types
    dest: /etc/mime.types
    mode: 0644

- name: force reinstall python3-six
  raw: dnf reinstall python3-six -y

- name: configure sunrpc to leave kadmin port 749/TCP open
  sysctl:
    name: sunrpc.min_resvport
    value: 750
    state: present

- name: start&enable nfs
  service:
    name: nfs-server
    enabled: true
    state: started

- name: start&enable tuned
  service:
    name: tuned
    enabled: true
    state: started

- name: select tuned profile
  shell: tuned-adm profile virtual-host

- name: start&enable libvirt services
  service:
    name: "{{ item }}"
    enabled: true
    state: started
  with_items:
    - virtlogd
    - libvirtd

- name: configure size of systemd journal
  lineinfile:
    path: /etc/systemd/journald.conf
    regexp: '^#?SystemMaxUse'
    line: 'SystemMaxUse={{ limit_size_systemd_journal }}'
    state: present
