---
- name: remove any artifcats from previous packaging
  become: true
  file:
    path: "{{ template_box_dir }}/_tmp_package"
    state: absent
  tags:
    - package_box

# Turn template VM off and on again. Created vagrant box may not boot if 
# this step is omitted.
- name: shutdown template VM
  become: true
  shell: vagrant halt
  args:
    chdir: "{{ template_box_dir }}"

- name: boot template VM
  become: true
  shell: vagrant up
  args:
    chdir: "{{ template_box_dir }}"

- name: create vagrant box
  become: true
  shell: "vagrant package --output {{ template_box_name }}.box"
  args:
    chdir: "{{ template_box_dir }}"
  tags:
    - package_box

- name: change ownership of box
  become: true
  file:
    path: "{{ template_box_dir }}/{{ template_box_name }}.box"
    owner: "{{ ansible_effective_user_id }}"
    group: "{{ ansible_effective_group_id }}"

- name: destroy template VM
  become: true
  shell: vagrant destroy -f
  args:
    chdir: "{{ template_box_dir }}"

- name: upload box to vagrantcloud
  shell: |
    ../vagrant/box_uploader.py \
      "{{ template_box_name }}" \
      "{{ template_box_dir }}/{{ template_box_name }}.box" \
      --bump-revision
