---
- name: update distro packages
  dnf:
    name: '*'
    state: latest

- name: install freeipa rpms with dependencies
  shell: dnf install -y /vagrant/rpms/*.rpm

- name: remove freeipa packages while keeping dependencies
  shell: "rpm -e --nodeps '{{ item }}'"
  with_items:
    - freeipa-client
    - freeipa-client-common
    - freeipa-common
    - freeipa-debuginfo
    - freeipa-python-compat
    - freeipa-server
    - freeipa-server-common
    - freeipa-server-dns
    - freeipa-server-trust-ad
    - python2-ipaclient
    - python2-ipalib
    - python2-ipaserver
    - python2-ipatests
    - python3-ipaclient
    - python3-ipalib
    - python3-ipaserver
    - python3-ipatests

- name: install additional packages
  dnf:
    name: "{{ item }}"
    state: latest
  with_items:
    - PyYAML  # ipa-vagrant-ci dependency
    - vim
    - NetworkManager

- name: install py3 pip dependencies
  pip:
    executable: pip3
    name: "{{ python_packages_to_install | join(' ') }}"

- name: install py2 pip dependencies
  pip:
    executable: pip
    name: "{{ python_packages_to_install | join(' ') }}"
