---
- name: update distro packages
  dnf:
    name: '*'
    state: latest

# temporary workaround for rawhide issue
- name: remove packages that cause conflicts on rawhide
  dnf:
    name:
      - gdbm
      - python2-chardet
    state: absent
  when: fedora_version in ['rawhide', '30']

- name: install freeipa rpms with dependencies
  shell: dnf install -y /vagrant/rpms/*.rpm

- name: remove freeipa packages while keeping dependencies
  shell: "rpm -e --nodeps '{{ item }}'"
  with_items:
    - freeipa-client
    - freeipa-client-common
    - freeipa-client-debuginfo
    - freeipa-client-epn
    - freeipa-client-samba
    - freeipa-common
    - freeipa-debuginfo
    - freeipa-debugsource
    - freeipa-healthcheck-core
    - freeipa-python-compat
    - freeipa-selinux
    - freeipa-server
    - freeipa-server-common
    - freeipa-server-debuginfo
    - freeipa-server-dns
    - freeipa-server-trust-ad
    - freeipa-server-trust-ad-debuginfo
    - python3-ipaclient
    - python3-ipalib
    - python3-ipaserver
    - python3-ipatests
  ignore_errors: yes

# this can be removed when python2 is gone completly
- name: remove freeipa python2 packages seperately
  shell: "rpm -e --nodeps '{{ item }}'"
  with_items:
    - python2-ipaclient
    - python2-ipalib
    - python2-ipaserver
    - python2-ipatests
  when: with_python2 is defined and with_python2 == 1

- name: install additional packages
  dnf:
    state: latest
    name:
      - vim
      - NetworkManager
      - xorg-x11-server-Xvfb
      - firefox
      - python3-paramiko
      - python3-pip
      - firewalld
      - nfs-utils
      - kernel-modules

- name: install Ansible dependencies
  dnf:
    name:
      - python3-pyyaml
      - python3-dnf
      - python3-libselinux
    state: latest
  when: fedora_version != '27'

- name: install Ansible dependencies for fedora 27
  dnf:
    name:
      - python3-dnf
      - python3-PyYAML
      - libselinux-python3
    state: latest
  when: fedora_version == '27'

# Configure firewalld (make sure that ssh is enabled)
# This is using the command line tool till python2/3 firewalld import issues
# are really solved for the ansible firewalld module
#
# This can be used later on:
#   firewalld:
#     service : "{{ item }}"
#     permanent: true
#     state: enabled
#   with_items:
#     - ssh
#
- name: Configure firewalld
  command: >
    firewall-offline-cmd
    --add-service=ssh

# Mask firewalld - No auto-start and also dbus activation
# This can be removed when all tests are able to configure firewalld
#
# If firwalld will not be masked, please enable the following section as
# a replacement for masking firewalld:
#
# - name: Enable and start firewalld
#   systemd:
#     name: firewalld
#     enabled: yes
#     state: started
#
- name: Mask firewalld
  systemd:
    name: firewalld
    enabled: no
    masked: yes

- name: install py3 pip dependencies
  pip:
    executable: pip3
    name: "{{ python_packages_to_install }}"

- name: download geckodriver
  block:
    - name: download geckodriver | fetch release metadata
      uri:
        url: https://api.github.com/repos/mozilla/geckodriver/releases/latest
        return_content: yes
      register: download_metadata
    - name: download geckodriver | get binary
      unarchive:
        src: "{{ download_metadata.json  | to_json | from_json | json_query(query) }}"
        dest: /opt
        remote_src: yes
      vars:
        query: "assets[?ends_with(name, 'linux64.tar.gz')].browser_download_url | [0]"

- name: download selenium
  block:
    - name: download selenium | fetch release metadata
      uri:
        url: https://api.github.com/repos/SeleniumHQ/selenium/releases/latest
        return_content: yes
      register: download_metadata
    - name: download selenium | get binary
      get_url:
        url: "{{ download_metadata.json  | to_json | from_json | json_query(query) }}"
        dest: /opt/selenium.jar
      vars:
        query: "assets[?content_type == 'raw'] | [?ends_with(name, 'jar')] | [?starts_with(name, 'selenium-server')].browser_download_url | [0]"
