[Unit]
Description=FreeIPA PR CI
After=syslog.target network-online.target libvirtd.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/freeipa-pr-ci
ExecStart=/bin/bash -c 'PYTHONPATH=$PYTHONPATH:/root/freeipa-pr-ci /root/freeipa-pr-ci/github/prci.py "$(hostname -s)" --config /root/.config/freeipa-pr-ci/config.yml'
Restart=on-failure
RestartSec=3m

[Install]
WantedBy=multi-user.target
