[Unit]
Description=FreeIPA PR CI
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/freeipa-pr-ci
ExecStart=/bin/bash -c '/root/freeipa-pr-ci/github/prci.py --id "$(hostname -s)" --credentials /root/.config/freeipa-pr-ci/credentials.yaml --tasks .freeipa-pr-ci.yaml'
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
