---
- name: deploy script to execute webui tests
  copy:
    src: ipa-run-webui-tests
    dest: /usr/local/bin/ipa-run-webui-tests
    mode: 0755

- name: install freeipa
  shell: >
    ipa-server-install -U
    -n ipa.test
    -r IPA.TEST
    -p Secret.123
    -a Secret.123
    --setup-dns
    --setup-kra
    --forwarder={{ dns_forwarder | quote }}

- name: set IPA to development mode
  lineinfile:
    path: /etc/ipa/default.conf
    regexp: ^mode\s?=
    line: mode = development
    state: present

- name: restart httpd
  service:
    name: httpd
    state: restarted

- name: create .ipa dir
  file:
    path: /root/.ipa
    state: directory

- name: copy default.conf and other required files
  shell: cp -r /etc/ipa/* /root/.ipa/

- name: set wait_for_dns=5
  lineinfile:
    path: /root/.ipa/default.conf
    line: wait_for_dns=5

- name: create ~/.ipa/.dmpw
  copy:
    dest: /root/.ipa/.dmpw
    content: "Secret.123"

- name: create ui_test.conf
  template:
    src: ui_test.conf.j2
    dest: /root/.ipa/ui_test.conf

- name: add service csr
  copy:
    src: service.csr
    dest: /root/.ipa/service.csr
    mode: 0755

- name: add host csr
  copy:
    src: host.csr
    dest: /root/.ipa/host.csr
    mode: 0755

- name: add user csr
  copy:
    src: user.csr
    dest: /root/.ipa/user.csr
    mode: 0755
