Import-Module ADDSDeployment

function InstallADDomain{
    $user = "Administrator@{{ ad_opts.ParentDomainName }}"
    $password = ConvertTo-SecureString -String "{{ ad_opts.SafeModeAdministratorPassword }}" -AsPlainText -Force
    $credential = New-Object System.Management.Automation.PSCredential($user, $password)

    Install-ADDSDomain -Force -NoRebootOnCompletion:$false -InstallDNS:$true -Credential: $credential
    {%- for key, value in ad_opts.items() -%}
    {%- if key == 'SafeModeAdministratorPassword' %}
    -{{ key }} $password
    {%- else %}
    -{{ key }} "{{ value }}"
    {%- endif -%}
    {%- endfor -%}
}

Try{
    InstallADDomain
}Catch{
    Write-Host "WARNING: AD Install Failed"
}

