---
- include: cleanup.yml
  tags: cleanup

- include: download_rawhide_box.yml
  when: fedora_version == 'rawhide'

- name: create folder for image
  file:
    path: "{{ template_box_dir }}"
    state: directory
    mode: 0755

- name: copy Vagrant template file
  template:
    src: Vagrantfile.j2
    dest: "{{ template_box_dir }}/Vagrantfile"
    mode: 0644

- name: bring the image online
  become: true
  shell: vagrant up
  args:
    chdir: "{{ template_box_dir }}"

- name: get IP from vagrant ssh-config
  become: true
  shell: "vagrant ssh-config | grep HostName | sed 's/  HostName //'"
  args:
    chdir: "{{ template_box_dir }}"
  register: command_output

- name: add image_box IP as a new host to ansible playbook
  add_host:
    name: "{{ command_output.stdout }}"
    groups: "image_box"
    ansible_user: "root"
    ansible_ssh_private_key_file: "keys/vagrant"
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
    fedora_version: "{{ fedora_version }}"
    git_branch: "{{ git_branch }}"
    flow: "{{ flow }}"

- name: wait for image to come online
  local_action: wait_for host="{{ command_output.stdout }}" port=22 timeout=120
