---
- hosts: localhost
  name: prepare vagrant box
  become_user: root
  vars_prompt:
    - name: fedora_version
      prompt: fedora
      private: false
      default: 30
    - name: git_branch
      prompt: "git branch"
      private: false
      default: "master"
    - name: flow
      prompt: "template flow"
      private: false
      default: "ci"
  vars_files:
    - vars/flows/{{ flow }}.yml
    - vars/fedora/{{ fedora_version }}.yml
    - vars/ipa_branches/{{ git_branch }}.yml
  gather_facts: false
  pre_tasks:
    - name: install Python 3 deps for ansible modules
      raw: dnf install -y python3-dnf python3-libselinux
      become: yes
    - name: gather facts
      setup:
    - set_fact:
        template_box_name: "{{ flow  }}-{{ git_branch }}-f{{ fedora_version }}"
  roles:
    - box/prepare

- hosts: image_box
  name: modify vagrant box template
  vars_files:
    - vars/flows/{{ flow }}.yml
    - vars/fedora/{{ fedora_version }}.yml
    - vars/ipa_branches/{{ git_branch }}.yml
  roles:
    - role: builder
      git_version: "{{ git_branch }}"
    - role: machine

- hosts: localhost
  name: package template box
  become_user: root
  roles:
    - box/package
