---
- hosts: runner_devel
  remote_user: root
  name: prepare development test runners
  vars_prompt:
    - name: monitored_repo_owner
      prompt: Owner of monitored GitHub repo
      private: false
    - name: github_token
      prompt: API token for GitHub
      private: false
    - name: pr_ci_repo_owner
      prompt: Owner of PR CI repo to test
      private: false
    - name: pr_ci_repo_branch
      prompt: Branch of PR CI repo to test
      private: false
  roles:
    - role: runner
      deploy_ssh_key: true
      deploy_prci_configuration: true
      enable_nested_virt: true
      create_systemd_unit: true
  post_tasks:
    - name: restart prci to pick up code changes
      service:
        name: prci
        state: restarted
